<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

<header th:replace="layout/layout :: header"></header>
	<div class="container py-4" th:fragment="formulario">
		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<form th:action="@{/form}" th:object="${cliente}" method="post" enctype="multipart/form-data">
					<div th:replace="layout/formulario :: formulario"></div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	
</body>
</html>